
body{
    background-color: teal;
    
}
.parent{
    display:flex;
    background-color: turquoise;
    margin-left:5%;
    margin-right: 5%;
    margin-top:10%;
    border-radius: 5%;
    justify-content: space-between;
}
.child{
    background-color: teal;
    margin:3%;
    border-radius: 5%;
    box-shadow: 3px 3px 3px 3px;
    text-align:center;
    padding:1%;
}
img{
    width:70%;
    border-radius:10%;
    height:40%;
}
h3{
    font-size: 25px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
a{
    font-size: 20px;
    color: red;
    text-decoration: none;
}
.child:hover{
    background-color:violet;
}

@media only screen and (min-width:320px) and (max-width:450px) {

.parent{
    display:inline-block;
    width:90%;
}

img{
    width:60%;
    height:20%;
    margin-top:3%;
}


}

@media only screen and (min-width:680px) and (max-width:900px) {
.parent{
    flex-wrap:wrap;
    justify-content: space-around;
}
}